@using Entity
@model Person
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container bootstrap snippet">
    <div class="row">
        @*<div class="col-sm-10"><h1>@Model.person.NameSurname</h1></div>*@
        <div>
            @using (Html.BeginForm("MyAccount", "Members", FormMethod.Post, new { @class = "form", @enctype = "multipart/form-data" }))
            {
                <div class="col-sm-3">

                    <div class="text-center">
                        @if (ViewBag.Photo == null)
                        {
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">}
                        else
                        {
                            <img src="@ViewBag.Photo?a=@DateTime.Now.Second" class="avatar img-circle img-thumbnail" alt="avatar">
                        }
                        <br />


                        @*<input  type="file" class="text-center center-block file-upload">*@
                    </div> <br>


                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Yorum Sayısı</strong></span>@Model.WriteComments.Count()</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Randevu Sayısı</strong></span>@Model.Appointment.Count()</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Cinsiyet</strong></span> @Model.Gender</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Sisteme Kayıt Tarihi</strong></span> @Model.RegisterDate.ToShortDateString()</li>
                    </ul>

                </div>

                <div class="col-sm-9">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Bilgilerini</a></li>
                        <li><a data-toggle="tab" href="#messages">Kabul Edilmiş Randevular</a></li>
                        <li><a data-toggle="tab" href="#settings">İptal Edilmiş Randevular</a></li>
                        <li><a data-toggle="tab" href="#beklemede">Sonuclanmamış Randevular</a></li>
                    </ul>



                    <div class="tab-content">
                        <div class="tab-pane active" id="home">

                            <form class="form" action="##" method="post" id="registrationForm">
                                <table class="table table-hover table-bordered table-striped ">
                                    <tr>
                                        <td>Ad Soyad</td>
                                        <td>Email</td>
                                        <td>Telefon</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.UserName</td>
                                        <td>@Model.Email</td>
                                        <td>@Model.PhoneNumber</td>
                                    </tr>

                                </table>
                            </form>



                        </div><!--/tab-pane-->


                        <div class="tab-pane" id="messages">

                            <form class="form" action="##" method="post" id="registrationForm">
                                <table class="table table-hover table-bordered table-striped ">

                                    @foreach (Appointment item in ViewBag.AppointmentAccept)
                                    {
                                        <tr>
                                            <td>Randevu Konusu</td>
                                            <td>Kabul Durumu</td>
                                            <td>İşlem Tarihi</td>
                                        </tr>


                                        <tr>
                                             
                                            <td>@item.Subject</td>
                                            <td>Kabul edildi</td>
                                            <td>@item.RequestedDate.ToShortDateString()</td>
                                        </tr>

                                    }
                                     
                                </table>

                            </form>

                        </div><!--/tab-pane-->


                        <div class="tab-pane" id="settings">


                            <form class="form" action="##" method="post" id="registrationForm">
                                <table class="table table-hover table-bordered table-striped ">


                                    @foreach (Appointment item in ViewBag.AppointmentDenied)
                                    {
                                        <tr>
                                            <td>Randevu Konusu</td>
                                            <td>Kabul Durumu</td>
                                            <td>İşlem Tarihi</td>
                                        </tr>


                                        <tr>



                                            <td>@item.Subject</td>
                                            <td>Reddedildi</td>
                                            <td>@item.RequestedDate.ToShortDateString()</td>
                                        </tr>
                                    }
                                      
                                </table>
                                 
                            </form>
                        </div>




                        <div class="tab-pane" id="beklemede">

                            <form class="form" action="##" method="post" id="registrationForm">
                                <table class="table table-hover table-bordered table-striped ">
                                    @foreach (Appointment item in ViewBag.AppointmentWaiting)
                                    {
                                        <tr>
                                            <td>Randevu Konusu</td>
                                            <td>Kabul Durumu</td>
                                            <td>İşlem Tarihi</td>
                                        </tr>
                                         
                                        <tr>
                                            <td>@item.Subject</td>
                                            <td>Bekleniyor</td>
                                            <td>@item.RequestedDate.ToShortDateString()</td>
                                        </tr>


                                    }

                                     

                                </table>



                            </form>
                        </div>












                    </div>


                </div>
            }

        </div>

    </div>
</div>



<script>
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>
