<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    <title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>

    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Content/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="/Content/js/modernizr.js"></script>

    <script src="/Content/js/jquery-2.1.1.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script src="/Content/js/gmaps.js"></script>
    <script src="/Content/js/smoothscroll.js"></script>
    @*<script src="/Content/js/bootstrap.min.js"></script>*@
    <script src="/Content/js/custom.js"></script>

    @RenderSection("CSS", false)
</head>

 @Html.Action("_Header","Home")
    <body>
        @RenderBody()

        @RenderSection("Scripts", false)
    </body>
</html>
